
      <form>
      <fieldset width="100">
        <legend>Consulta Personalizada</legend>
        <br><br>
         <label for="Consulta">Consulta</label>
        <input type="text" id="consulta" size="500" name="consulta" />
        <br>
        <input class="btn" type="submit" value="Consultar" formaction="/consultas/sql?token={{token}}" formmethod="POST" />
        </fieldset>
    </form>
     