
      <!DOCTYPE html>
      <html lang="es">
      <head>
         <meta charset="UTF-8">
         <title>virtual assistant for physical activity 21!</title>
         <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
         <link rel="stylesheet" href="../public/css/estilo.css">
         <link rel="stylesheet" href="../public/css/fonts.css">
         <script src="https://code.jquery.com/jquery-latest.js"></script>
         <link rel="icon" type="image/svg+xml" href="../public/img/favicon.ico" sizes="any">
      </head>
      <body>
       {{{body}}}
      </body>
      </html>
      
               